{#@if($order_address)
    <div class="form-group">
        <div class="field__input-wrapper" bind-class="{ 'js-is-filled': billing_address.address1 }">
        <span class="field__label" bind-event-click="handleClick(this)">
            {{ trans('ecom::content.address') }}
        </span>
            <input name="BillingAddress_Address1" bind-event-change="saveAbandoned()" type="text" bind-event-focus="handleFocus(this)" bind-event-blur="handleFieldBlur(this)" class="field__input form-control" id="_billing_address_address1"  bind="billing_address.address1"/>
        </div>
        <div class="help-block with-errors"></div>
    </div>
    @endif

    @if($order_country)
    <div class="form-group">
        <div class="field__input-wrapper field__input-wrapper--select">
            <label class="field__label" for="BillingCountryId">
                {{ trans('ecom::content.country') }}
            </label>
            <select class="field__input field__input--select form-control filter-dropdown" name="BillingCountryId" id="billingCountry" required data-error="{{ trans('ecom::content.please_choose', {'name': trans('ecom::content.country')}) }}" bind-event-change="billingCountryChange('')" bind="BillingCountryId">
                <option value=''>--- {{ trans('ecom::content.choose_country') }} ---</option>
                @foreach($countrys as $country)
                    <option value='{{ country.code }}' @if($selected_country == $country->code) selected @endif>{{ country.name }}</option>
                @endforeach
            </select>
        </div>
        <div class="help-block with-errors"></div>
    </div>
    @endif

    @if($order_address)
    <div class="form-group">
        <div class="field__input-wrapper field__input-wrapper--select">
            <label class="field__label" for="BillingProvinceId">
                {{ trans('ecom::content.provinces') }}
            </label>
            <select class="field__input field__input--select form-control filter-dropdown" name="BillingProvinceId" id="billingProvince" required data-error="{{ trans('ecom::content.please_choose', {'name': trans('ecom::content.province')}) }}" bind-event-change="billingDistrictChange('')" bind="BillingProvinceId">
                <option value=''>--- {{ trans('ecom::content.choose_province') }} ---</option>
                @foreach(provinces as province)
                    <option value='{{ province.id }}'>{{ province.name }}</option>
                @endforeach
            </select>
        </div>
        <div class="help-block with-errors"></div>
    </div>

    <div bind-show="!otherAddress" class="form-group">
        <div class="error hide" bind-show="requiresShipping && loadedShippingMethods && shippingMethods.length == 0  && BillingProvinceId  ">
            <label>{{ trans('ecom::content.area_not_support_shipping') }}</label>
        </div>
    </div>
@endif#}