<aside class="wrapper__list__article">
    <h4 class="border_section">{{ data.title }}</h4>
    <div class="wrapper__list-number">

        {% set items = get_popular_posts('posts', null, 4) %}

        {% for index,item in items %}
            {% set category = get_post_taxonomy(item, 'categories') %}
        <div class="card__post__list">
            <div class="list-number">
                <span>
                    {{ index + 1 }}
                </span>
            </div>
            {% if category %}
            <a href="{{ category.url }}" class="category">
                {{ category.name }}
            </a>
            {% endif %}
            <ul class="list-inline">
                <li class="list-inline-item">
                    <h5>
                        <a href="{{ item.url }}">
                            {{ item.title }}
                        </a>
                    </h5>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</aside>
