<div class="post-list-layout3 align-items-center">
    <div class="item-img">
        <img src="{{ post.thumbnail }}" alt="Post">
        <div class="item-tag bg-blueviolet">{{ post.category }}</div>
    </div>
    <div class="item-content">
        <div class="post-meta">
            <ul>
                <li><i class="flaticon-clock"></i> {{ post.created_at }}</li>
                <li class="item-author"><i class="flaticon-user bg-green"></i><span>{{ __('By') }}</span><a href="#">{{ post.author.name }}</a></li>
            </ul>
        </div>

        <h3 class="item-title"><a href="{{ post.url }}"> {{ post.title }}</a></h3>
        <p>{{ post.description }}</p>
        <a href="{{ post.url }}" class="btn-fill-md">{{ __('READ MORE') }}</a>
    </div>
</div>