{% extends 'cms::layouts.frontend' %}

{% block content %}
    <section
        class="inner-page-banner bg-common"
        data-bg-image="media/figure/banner1.jpg"
    >

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-area">
                        <h1>{{ post.title }}</h1>
                        <ul>
                            <li>
                                <a href="{{ home_url() }}">{{ __('Home') }}</a>
                            </li>
                            <li>{{ post.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=         Single Post Start        	=-->
    <!--=====================================-->
    <section class="inner-section">
        <div class="container">
            <div class="single-post-layout2">
                <div class="post-details">
                    {% if post.thumbnail %}
                    <div class="post-img">
                        <img src="{{ post.thumbnail }}" alt="Post">
                    </div>
                    {% endif %}

                    <div class="post-content">
                        <h2 class="post-title">{{ post.title }}</h2>

                        <div class="entry-meta">
                            <div class="row gutters-40 align-items-center">
                                <div class="col-lg-7 d-flex justify-content-lg-end justify-content-center">
                                    <div class="post-meta-dark">
                                        <ul>
                                            <li class="post-date"><i class="flaticon-clock"></i> {{ post.created_at }}</li>
                                            <li class="post-author text-left">
                                                <div class="author-icon bg-green">
                                                    <i class="flaticon-user"></i>
                                                </div>
                                                <div class="author-content">
                                                    <div class="item-text">{{ __('Posted by') }}</div>
                                                    <div class="author-name"><a href="#">{{ post.author.name }}</a></div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="social-share">
                                        <label>Share</label>
                                        <ul>
                                            <li><a href="#" class="bg-fb"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#" class="bg-twitter"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#" class="bg-linked"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#" class="bg-google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="#" class="bg-pinterst"><i class="fab fa-pinterest-square"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{ post.content|raw }}

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}