{% extends 'cms::layouts.frontend' %}

{% block content %}
    {% set tags = get_post_taxonomies(post, 'tags', {limit: 5}) %}
    <!--=====================================-->
    <section
            class="inner-page-banner bg-common"
            data-bg-image="{{ asset('images/banner1.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-area">
                        <h1>{{ post.title }}</h1>
                        <ul>
                            <li>
                                <a href="{{ home_url() }}">{{ __('Home') }}</a>
                            </li>
                            <li>{{ post.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="inner-section">
        <div class="container">
            <div class="row gutters-40">
                <div class="col-xl-9 col-lg-8">
                    <div class="single-post-layout1">
                        <div class="post-details">
                            <div class="post-img text-center">
                                <img src="{{ post.thumbnail }}" alt="Post">
                            </div>

                            <div class="post-date"><i class="flaticon-clock"></i> {{ post.created_at }}</div>
                            <h2 class="post-title">{{ post.title }}</h2>
                            <div class="entry-meta">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="post-meta-dark">
                                            <ul>
                                                <li class="post-author">
                                                    <div class="author-icon bg-green">
                                                        <i class="flaticon-user"></i>
                                                    </div>
                                                    <div class="author-content">
                                                        <div class="item-text">{{ __('Posted by') }}</div>
                                                        <div class="author-name"><a href="#">{{ post.author.name }}</a></div>
                                                    </div>
                                                </li>

                                                <li class="meta-action"><i class="flaticon-heart"></i>{{ post.views }}</li>
                                                <li class="meta-action"><i class="flaticon-comment-white-oval-bubble"></i>{{ post.total_comment }}</li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="social-share">
                                            <label>{{ __('Share') }}</label>
                                            <ul>
                                                <li><a href="#" class="bg-fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="bg-twitter"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="bg-linked"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="bg-google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                                                <li><a href="#" class="bg-pinterst"><i class="fab fa-pinterest-square"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{ post.content|raw }}

                            <ul class="related-tag">
                                {% for tag in tags %}
                                <li><a href="{{ tag.url }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        {#<div class="item-author">
                            <div class="media">
                                <div class="item-img">
                                    <img src="media/post/author.jpg" alt="Author">
                                </div>
                                <div class="media-body">
                                    <h3 class="item-title">Mark Willy</h3>
                                    <div class="item-subtitle">CEO</div>
                                    <p>Dorem Ipsum is simply dummy text of the printing and type area aawin gustry has been the industry's standardt.</p>
                                    <ul class="item-social">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>#}

                        <div class="post-comments">
                            {{ comment_template(post, 'theme::components.comments') }}
                        </div>

                        <div class="comment-form">
                            <div class="heading-layout3">
                                <h3 class="heading-title-md">{{ __('Leave a Comment') }}</h3>
                            </div>

                            {% if errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if message %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endif %}

                            <form action="" method="post" id="comment-form">
                                {{ csrf_field() }}

                                <div class="row guuters-25">
                                    {% if guest %}
                                    <div class="col-lg-4 form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Name *">
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email *">
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <input type="text" class="form-control" name="website" placeholder="Website *">
                                    </div>
                                    {% endif %}

                                    <div class="col-lg-12 form-group">
                                        <textarea placeholder="Message" class="textarea form-control" name="content" rows="7" cols="20" required></textarea>
                                    </div>

                                    <div class="col-lg-12 form-group">
                                        <button type="submit" class="submit-btn disabled">{{ __('SUBMIT NOW') }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 sidebar-widget">

                    {{ dynamic_sidebar('sidebar') }}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
