{% extends 'cms::layouts.frontend' %}

{% block content %}
    <section
        class="inner-page-banner bg-common"
        data-bg-image="{{ asset('images/banner1.jpg') }}">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-area">
                        <h1>{{ title }}</h1>
                        <ul>
                            <li>
                                <a href="{{ home_url() }}">{{ __('Home') }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="inner-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    {% for post in page.data %}
                        {{ get_template_part(post, 'content') }}
                    {% endfor %}

                    <div class="pagination-layout1">
                        {{ paginate_links(page, 'theme::components.pagination') }}
                    </div>
                </div>

                <div class="col-xl-3 sidebar-widget-xl">
                    {{ dynamic_sidebar('sidebar') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}