<div class="heading-layout3">
    <h3 class="heading-title-md">{{ total }} {{ __('Comments') }}</h3>
</div>

<div class="comment-box">
    {% for comment in comments.data  %}
    <div class="media">
        <div class="item-img">
            <img src="{{ comment.avatar }}" alt="logo">
        </div>
        <div class="media-body">
            <h4 class="item-title">{{ comment.name }} ,<span>{{ comment.created_at }}</span></h4>
            <p>{{ comment.content }}</p>
            <a href="#comment-form" class="reply-btn">{{ __('Reply') }}</a>
        </div>
    </div>
    {% endfor %}
</div>

