<div class="widget">
    <h2 class="widget-title">{{ data.title }}</h2>
    <div class="blog-list-widget">
        <div class="list-group">
            {% for item in data.items %}
            <a href="{{ item.url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                    <img src="{{ item.thumbnail }}" alt="{{ item.title }}" class="img-fluid float-left">
                    <h5 class="mb-1">{{ item.title }}</h5>
                    <span class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div><!-- end blog-list -->
</div><!-- end widget -->