<!-- Tranding news  carousel-->
<section class="bg-light">
    <div class="container">
        <div class="row">
            {% set items = get_posts('posts', {
                'taxonomy': data.taxonomy,
                'limit': 6
            }) %}

            <div class="col-md-12">
                <div class="wrapp__list__article-responsive wrapp__list__article-responsive-carousel">
                {% for item in items %}
                    <div class="item">
                        <!-- Post Article -->
                        <div class="card__post card__post-list">
                            <div class="image-sm">
                                <a href="{{ item.url }}">
                                    <img src="{{ item.thumbnail }}" class="img-fluid" alt="">
                                </a>
                            </div>

                            <div class="card__post__body ">
                                <div class="card__post__content">

                                    <div class="card__post__author-info mb-2">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <span class="text-primary">
                                                    {{ __('by') }} {{ item.author.name }}
                                                </span>
                                            </li>
                                            <li class="list-inline-item">
                        <span class="text-dark text-capitalize">
                            {{ item.created_at }}
                        </span>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="card__post__title">
                                        <h6>
                                            <a href="{{ item.url }}">
                                                {{ item.title }}
                                            </a>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Tranding news carousel -->