<div class="widget">
    <h2 class="widget-title">{{ data.title }}</h2>
    <div class="trend-videos">
        {% for item in data.items %}
        <div class="blog-box">
            <div class="post-media">
                <a href="{{ item.url }}" title="{{ item.title }}">
                    <img src="{{ item.thumbnail }}" alt="{{ item.title }}" class="img-fluid">
                    <div class="hovereffect">
                        <span class="videohover"></span>
                    </div><!-- end hover -->
                </a>
            </div><!-- end media -->
            <div class="blog-meta">
                <h4><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></h4>
            </div><!-- end meta -->
        </div>

        {% if items[loop.index + 1] %}
        <hr class="invis">
        {% endif %}

        {% endfor %}
    </div><!-- end videos -->
</div><!-- end widget -->