<form action="" method="post" class="comment-form" id="comment-form" onsubmit="return recapchaRenderTokenToForm(this)">
    {{ csrf_field() }}

    <p class="comment-notes">
        <span id="email-notes">{{ __('Your email address will not be published.') }}</span>
        {{ __('Required fields are marked') }}
        <span class="required">*</span>
    </p>

    <p class="comment-form-comment">
        <label for="content">{{ __('Comment') }} <span class="required">*</span></label>
        <textarea name="content" id="content" cols="45" rows="5" maxlength="65525" required="required"></textarea>
    </p>

    {% if guest %}
        <p class="comment-form-author">
            <label for="author">{{ __('Name') }} <span class="required">*</span></label>
            <input type="text" id="author" name="name" required="required">
        </p>

        <p class="comment-form-email">
            <label for="email">{{ __('Email') }} <span class="required">*</span></label>
            <input type="email" id="email" name="email" required="required">
        </p>

        <p class="comment-form-url">
            <label for="website">{{ __('Website') }}</label>
            <input type="text" id="website" name="website">
        </p>
    {% endif %}

    <p class="form-submit">
        <input type="submit" name="submit" id="submit" class="submit" value="{{ __('Post Comment') }}">
    </p>
</form>
