<div class="widget widget-upcoming-post">
    <div class="heading-layout1">
        <h2 class="heading-title">{{ data.title }}</h2>
    </div>

    {% set items = get_posts('posts', {
        'taxonomy': data.taxonomy,
        'limit': 4
    }) %}
    <div class="post-list-layout2">
        {% for item in items %}
        <div class="media">
            <div class="item-img">
                <img src="{{ item.thumbnail }}" alt="{{ item.title }}">
            </div>
            <div class="media-body">
                <div class="post-date"><i class="flaticon-clock"></i> {{ item.created_at }}</div>
                <h4 class="post-title"><a href="{{ item.url }}">{{ sub_words(item.title, 10) }}</a></h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>