
    <footer class="footer-wrap">
        <div class="footer-top-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        {{ dynamic_sidebar('footer_column_1') }}
                    </div>
                    <div class="col-lg-6">
                        {{ dynamic_sidebar('footer_column_2') }}
                    </div>
                    <div class="col-lg-3">
                        {{ dynamic_sidebar('footer_column_3') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-wrap">
            <div class="container">
                <div class="footer-copyright">Copyright @2020 {{ config('title') }}. All Rights Reserved</div>
            </div>
        </div>
    </footer>

    <div class="sidebar-nav-menu" id="sidebar-nav">
        <button class="close-btn sidebar-toggle"><i class="fas fa-times"></i></button>
        <div class="sidebar-logo">
            <a href="{{ home_url() }}">
                <img src="{{ get_logo() }}" alt="Side Logo">
            </a>
        </div>

        {{  jw_nav_menu({
            'container_before': '<ul class="menu-list">',
            'container_after': '</ul>',
            'theme_location': 'sidebar',
            'item_view': 'theme::components.menu_item'
        }) }}

        <ul class="item-social">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
    </div>

    <div id="header-search" class="header-search">
        <button type="button" class="close">×</button>
        <form action="{{ url('search') }}" class="header-search-form">
            <input type="search" name="q" placeholder="{{ __('Search here...') }}" />
            <button type="submit" class="search-btn">
                <i class="flaticon-search"></i>
            </button>
        </form>
    </div>

</div>